services:

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./src:/var/www/html
    depends_on:
      - php-fpm
    restart: always

  php-fpm:
    image: php-fpm-local:latest
    volumes:
      - ./src:/var/www/html

  php-cli:
    image: php-cli-local:latest
    volumes:
      - ./src:/var/www/html
    command: tail -f /dev/null

  node:
    image: node
    working_dir: /var/www/html
    environment:
      NODE_OPTIONS: "--no-deprecation"
    volumes:
      - ./src:/var/www/html
    command: sh -c "cd laravel && npm install && npm run dev --host"
    ports:
      - "5173:5173"

  mysql:
    image: mysql:latest
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: admin_db
      MYSQL_USER: admin
      MYSQL_PASSWORD: adminpassword
    volumes:
      - mysql_data:/var/lib/mysql
      - ./init:/docker-entrypoint-initdb.d
    ports:
      - "3306:3306"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      PMA_USER: admin
      PMA_PASSWORD: adminpassword
    ports:
      - "8080:80"
    depends_on:
      - mysql

volumes:
  mysql_data:
